#cloud-config
ssh_authorized_keys:
  - ssh-rsa AAAAB3NzaC1yc2EAAAABJQAAAIB3UGfAyWLdy4AgtJsDU3CQ/M1Qyfba/ts+L6cin+yn/0Pg0B/50bvI5RyRrSvHS37uA2r9sNRmnbB5Q5X0adq7S6wn1i483ggn9dZpcE11lUqUsyeqKPJCtmu5YBGk5wthLnEquZIJRBdUoolirOV3jLIbmlhOHcsYjzsZd1ofAw== rancher@blackrancher

rancher:
  console: ubuntu
  network:
    interfaces:
      "mac=___MACADDRESS___":
        address: 192.168.1.46/24
        gateway: 192.168.1.254
    dns:
      nameservers:
      - 192.168.1.254
      - 8.8.8.8
      - 8.8.4.4

mounts:
  - ["___PART___", "/media/data", "ext4", ""]

write_files:
  - path: /etc/rc.local
    permissions: "0755"
    owner: root
    content: |
      #!/bin/bash
      touch /ok.txt
      wget https://raw.githubusercontent.com/drumpaul/blackbox/master/clone.sh \
        && chmod +x clone.sh
